option_settings:
   - namespace: aws:elasticbeanstalk:application:environment
     option_name: DB_HOST
     value: aa1eikwu3d7iwmh.csontzs0cti9.us-east-1.rds.amazonaws.com
   - option_name: DB_PORT
     value: 3306
   - option_name: DB_NAME
     value: ebdb
   - option_name: DB_USER
     value: E8riLKq2bA
   - option_name: DB_PASS
     value: 1FT4WaoDCC